<div *ngIf="artist">
      <header class = "artist-header">
        <div *ngIf="artist.images.length > 0">
          <img class = "img-thumbnail rounded-circle" src = "{{artist.images[0].url}}">
        </div>
        <h1>{{artist.name}}</h1>
        <p *ngIf = "artist.genres.length >0">
          Genres:<span *ngFor = "let gen of artist.genres">{{artist.genres}}</span>
        </p>
      </header>

      <div class="artist-albums">
        <div class = "row">
          <div *ngFor="let album of albums">
            <div class = "col-md-3">
              <div class = "album well">
                <div class = "img-thumb-container">
                  <img class = "album-thumb img-thumbnail-album" src="{{album.images[0].url}}">
                </div>
                <div class = "album-title-container">
                  <h6>{{album.name}}</h6>
                </div>
                <div class = "detail-album-container">
                  <a class="btn btn-default btn-block" routerLink="/albums/{{album.id}}">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
