/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}



.bg-primary {
  background-color: #333 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.main{
  padding:30px;
}

.artist-header{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: #333 1px solid;
}

.artist-thumb{
  width:80px;
  height: auto;
  float:left;
  margin-right: 10px;
}

.artist-albums .well{
  margin-bottom:20px;
  overflow: auto;
  min-height: 300px;
}

.album{
  background-color: #333;
  padding: 10px 20px;
  border: #007bff 1px solid;
  width: 200px;
  float:left;
}

.row{
  justify-content: center;
  align-items: center;
}


.img-thumb-container {
  width: 100%;
  float: left;
  margin-bottom:10px;
}

.album-title-container {
  float: left;
  width: 100%;
  height: 46px;
  color: #fff;
  margin-bottom:10px;
}

.detail-album-container{
  float:left;
  width:100%;
  margin-bottom:10px;
}

.album-thumb{
  width:100%;
}

.img-thumbnail{
  width:90px;
  height: auto;
  float:left;
  margin-right: 10px;
  border:0px;
}

.img-thumbnail-album{
  max-height: 157px;
  float: left;
  margin-right: 10px;
  border: 0px;
}
